.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px;
    background-color: #545b61;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}   
div {
    flex: 0 0 25%;
    text-align: center;
    button {
        border: none;
        cursor: pointer;
        background: none;
        border-radius: 2px;
        border: 1px solid #2d353c;
        padding: 10px;
    }
}

span {
    flex: 0 0 25%;
    line-height: 50px;
}