section {
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h2 {
    text-align: center;
}
table{
    margin: 10px;
    margin-left: 40px;
    width: 90%;
    display: block;
    height: 250px;
    overflow: auto;
    th, td {
        padding: 12px;
        width: 44%;
    }
}
section {
    button {
        cursor: pointer;
        background: none;
        border: 1px solid white;
        margin-top: 20px;
        height: 32px;
        border-radius: 2px;
    }
}
.shopping-cart-container {
    position: absolute;
    display: none;
    top: 30%;
    left: 40%;
    width: 400px;
    height:400px;
    box-shadow: 2px 1px 10px 4px rgba(0, 0, 0, 0.2);
    p {
        text-align: center;
    }
    background-color: #545b61;
    z-index: 1100;
}